* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2064px;
  background: rgba(1,0,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_10 {
  width: 100%;
  height: 840px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 8px solid rgba(255,255,255,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 63px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_5 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1296px;
  border: 8px solid rgba(255,255,255,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_6 {
  width: 43px;
  height: 42px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_7 {
  width: 206px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 14px;
  left: 64px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1235px;
  border: 8px solid rgba(255,255,255,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_11 {
  width: 389px;
  height: 387px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 475px;
  overflow: hidden;
}
.v1_12 {
  width: 490px;
  height: 59px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 435px;
  overflow: hidden;
}
.v1_13 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 450px;
  border: 8px solid rgba(255,255,255,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_15 {
  width: 89px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 584px;
  left: 455px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 598px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 664px;
  left: 381px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_23 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 952px;
  left: 599px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_24 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 952px;
  left: 973px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_25 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 953px;
  left: 233px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_26 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1141px;
  left: 561px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1141px;
  left: 935px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_28 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1142px;
  left: 195px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1208px;
  left: 561px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1208px;
  left: 935px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1209px;
  left: 195px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_44 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1469px;
  left: 604px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_45 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1469px;
  left: 978px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_46 {
  width: 140px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1470px;
  left: 238px;
  border: 6.384615421295166px solid rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1.5961538553237915px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_47 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1658px;
  left: 566px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_48 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1658px;
  left: 940px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_49 {
  width: 97px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1659px;
  left: 200px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_50 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1725px;
  left: 566px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_51 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1725px;
  left: 940px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_52 {
  width: 76px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1726px;
  left: 200px;
  font-family: Roboto Mono;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_59 {
  width: 71px;
  height: 71px;
  background: url("../images/v1_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1892px;
  left: 1264px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
